@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@theme {
  --font-playfair: "Playfair Display", serif;
  --font-logo: "Orbitron", sans-serif;
  --color-brand-gray: #2e2e3a;
  --color-navbar-bg: #fae3d9;
  --color-lightTheme-bg: #fae3d9;
}
